<div class="content container">
  <h1>Edit a post:</h1>
  <%= simple_form_for(@post, html: {class: "form-vertical"}) do |form| %>
    <%= form.input  :image, as: :file%>
    <%= form.input  :title %>
    <%= form.input  :body, input_html: { class: 'quill_container' } %>
    <%= form.input  :tag_list, value: form.object.tag_list.to_s %>
    <%= form.button :submit %>
  <% end %>

  <small> <%= link_to "Cancel", post_path(@post) %></small>
</div>