<div id="post" class="content container">
  <h1><%= @post.title %></h1>
  <div class="post"><%= @post.body.html_safe %></div>
  <br>
  <p>Created by: <%= @post.user.email %> at <%= @post.created_at %></p>
  <small> <%= link_to "Back", root_path %></small>

  <% if current_user == @post.user %>
    <small> <%= link_to "Edit", edit_post_path(@post) %></small>
    <small> <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" } %></small>
  <% end %>
  <script>jQuery('#post > div').ytLinksParseToImage();</script>
</div>