<div id="post" class="content container">
  <h1><%= @post.title %></h1>
  <%= image_tag @post.image.url(:medium) %>
  <div class="post"><%= @post.body.to_s.html_safe %></div>
  <br>
  <p>Created by: <%= @post.user.email %> at <%= @post.created_at %></p>
  <p> Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> </p>
  <small> <%= link_to "Back", root_path %></small>

  <% if current_user != nil %>
    <% if is_owner(current_user.id, @post.user.id) %>
      <small> <%= link_to "Edit", edit_post_path(@post) %></small>
      <small> <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" } %></small>
    <% end %>
  <% end%>  
  <br>
  <h2><%= @post.comments.count %> Comments</h2>
  <div id="comments">
    <% @post.comments.each do |comment| %>
      <%= comment.user.email %><br>
      <%= comment.body %><br>
      <%= time_ago_in_words(comment.created_at) %>
      <br>
      <% if current_user != nil %>
        <% if is_owner(current_user.id, comment.user.id) %>
      <p> <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: "Are you sure?"} %> </p>
        <% end%>
      <% end%>  
      <br>
    <% end%>  
   </div>
  <h3>Add a comment:</h3>
    <%= simple_form_for([@post, @post.comments.build], html: {class: "form-vertical"}) do |form| %>
    <%= form.input  :body %>
    <%= form.button :submit %>
  <% end %>
  <script>jQuery('#post > div').ytLinksParseToImage();</script>
</div>