<div class="content">
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>
  <br>
  <small> <%= link_to "Back", root_path %></small>
  <small> <%= link_to "Edit", edit_post_path(@post) %></small>
  <small> <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" } %></small>
</div>