<!DOCTYPE html>
<html>
  <head>
    <title>Zedd2dev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class= "container">
      <nav class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row">
        <div class="navbar-brand navbar-header"><%= link_to "Zedd2Dev", root_path, class: 'navbar-brand nav navbar-header'%></div>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><%= link_to "New Post", new_post_path, class: 'nav-link' %> </li>
          <% if current_user %>
          <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %> </li>
          <% else %>
          <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: 'nav-link' %> </li>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %> </li>
          <% end %>
          <li class="nav-item"><%= link_to "Contact", contact_path_url, class: 'nav-link' %> </li>
          <li class="nav-item"><%= link_to "About", about_path_url, class: 'nav-link' %> </li>

        </ul>
      </nav>
    </div>

    <% if notice %>
    <div class="alert alert-dismissable alert-success container">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert alert-dismissable alert-danger container">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <%= alert %>
    </div>
    <% end %>

    <div class="content container">

    <%= yield %>
    </div>
  </body>
</html>
